body {
    background-color: #e5e5e5 !important;
}

.section-1 {
    background-color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-2 {
    background-color: #e5e5e5;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navigation-bar {
    background-color: #354955;
    height: 50px;
    display: flex;
    justify-content: center;
}

/* add !important to change color of links */
.nav-link {
    color: white !important;
    font-size: 20px;
}

.nav-link:hover {
    color: #00a0c6 !important;
}

.hero {
    background-color: #1f2428;
    min-height: 70vh;
    color: #fff;
}

#profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;

    /* only use line below if pic is distorted, like low definition */
    /* object-fit: cover; */
}

.hero-content {
    margin: 0 auto;
    width: 800px;
    padding-top: 3em;
}

.hero-content-intro {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 3em;
}

.intro-name {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 3px;
}

.description {
    font-size: 65px;
    text-align: center;
}

.slogan {
    font-size: 24px;
    text-align: center;
}

.project-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    /* scroll bar will disappear if div is not overflowing*/
    overflow-x: auto;
}

.project-wrapper::-webkit-scrollbar {
    width: 2px;
}

.project-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

.project-wrapper::-webkit-scrollbar-thumb {
    background-color: #197c8b;
    outline: 1px solid slategrey;
    border-radius: 100px;
}

.project-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #197c8b;
}

.project-column {
    min-width: 300px;
}

.project-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-body {
    background-color: #fff;
    padding: 1em;
    min-height: 100px;
}

.skills-container {
    width: 600px;
    margin: 0 auto;
    padding: 1em;
}

.skills-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    gap: 2em;
    align-items: center;
}

.skill-logo {
    height: 60px;
    
}

.other-skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

/* width: fit-content; just colors whole content, in this case AWS length and width be blue */
.skill-tag {
    background-color: #c4e7f2;
    width: fit-content;
    padding: 3px 20px;
    border-radius: 20px;
}

.project-image {
    max-width: 800px;
}

.contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .hero-content-intro {
        flex-direction: column;
        text-align: center;
    }

    .project-wrapper {
        grid-template-columns: 1fr;
    }

    /* .project-thumbnail {
        width: 100%;
        height: 50%;
        object-fit: cover;
    } */
}

@media (max-width: 800px) {
    .hero-content {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .skills-container {
        width: 100%;
    }

    .skills-wrapper {
        flex-flow: column;
    }
}

/* tag text-color: 354955;
       background-color: C4E7F2; */
