{% extends "base/main.html" %}
{% load static %}

{% block content %}

    <section class="hero">
        <div class="hero-content">
            <div class="hero-content-intro">
                <img id="profile-pic" src="{% static 'images/avatar.png' %}" alt="default-pic">
                <h1 class="intro-name">John<br>Gutierrez</h1>
            </div>

            <div class="hero-content-subheadline">
                <h3 class="description">FullStack Developer</h3>
                <p class="slogan">I build websites from learning online</p>
            </div>

        </div>
        
    </section>

    <section class="container section-2">
        <h3>My projects</h3>
        <h5>Projects that make my journey worthwhile</h5>
        <div class="project-wrapper">
            {% for projects in project %}
                <div class="project-column">
                    <a href="{% url 'project' projects.id %}">
                        <img class="project-thumbnail" src="{{ projects.thumbnail }}" alt="">
                    </a>
                    <div class="project-body">
                        <h5>{{ projects.title }}</h5>
                    </div>
                </div>
            {% empty %}
                <h3>There are no projects in the database...</h3>
            {% endfor %}
        </div>

        <div class="about-wrapper">
            <h3>More About Me</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, iure nihil? Corrupti, soluta maxime expedita incidunt ullam illum quibusdam eum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti explicabo itaque exercitationem. Quis, aperiam commodi maxime dignissimos assumenda distinctio deserunt dolor consequuntur dolores debitis incidunt ducimus excepturi voluptas dolore in quas ipsa, eveniet molestias sequi minus id. Libero, eos autem commodi in, sint dignissimos, soluta voluptatum neque et quisquam expedita.</p>
        </div>
        
    </section>

    <section class="section-1">

        <div class="skills-container">
            <h3>More About Me</h3>
            {% for skill in detailed_skills %}
                <div class="skills-wrapper">
                    <h5>{{ skill.title }}</h5>
                    <p>{{ skill.body }}</p>
                </div>
            {% endfor %}
            
            <h4>Other skills</h4>
            <div class="other-skills-wrapper">
                {% for skill in skills %}
                    <div class="skill-tag">
                        <span>{{ skill.title }}</span>
                    </div>
                {% endfor %}
            </div>

        </div>


    </section>

    <section class="section-2">

        <div class="skills-container">
            <h3>Endorsements</h3>
            <a class="btn btn-primary my-2" href="{% url 'add-endorsement' %}">Add Endorsement</a>
            {% for i in endorsements %}
                <div class="card" style="margin-bottom: 0.5em;">
                    <div class="card-body">
                        <h5>{{ i.name }}</h5>
                        <p>{{ i.body }}</p>
                    </div>
                </div>
            {% endfor %}
            
            <h4>Other skills</h4>
            <div class="other-skills-wrapper">
                {% for skill in skills %}
                    <div class="skill-tag">
                        <span>{{ skill.title }}</span>
                    </div>
                {% endfor %}
            </div>

        </div>


    </section>

    <section class="section-2">
        <div class="container">
            <form class="contact-form" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="" class="form-label">{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %} 
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </section>

{% endblock content %}